# Node modules
node_modules/
npm-debug.log
yarn-error.log

# Metro
.metro-health-check*

# OSX
.DS_Store

# Android
android/app/build/
android/build/
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.gradle/
local.properties
*.iml
.idea/

# iOS
ios/build/
ios/Pods/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Bundle artifacts
*.jsbundle

# Expo
.expo/
.expo-shared/

# Temporary files
*.swp
*.swo
*~
.tmp/
